.container .landing-header {
    font: lighter 45px Lato, sans-serif;
    color: #2980B9;
}

.container .landing-subheader {
    font: bold 15px Arial;
    line-height: 23px;
    text-align: left;
    margin-bottom: 30px;
}

.container .upper-tri-info {
    border-top: 2px solid #E74C3C;
    margin-top: 40px;
    padding: 0px;
    margin-right: 20px;
    width: 160px;
}

.container .upper-tri-info h4 {
    font: bold 15px Lato, sans-serif;
}

.container .lower-tri-info {
    font: lighter 24px Lato, sans-serif;
    border-top: 1px solid #e7e7e7;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
}

.container .lower-tri-info p {
    text-align: left;
    height: 60px;
    margin-bottom: 15px;
}