// Fonts
$Lato: Lato, sans-serif;
$header: lighter 15px Lato;
$sub-header: bold 15px Arial;
$paragraph: normal 13px/20px Arial;

// Blog Post Like Page(s)
$bp-title: bold 30px Lato;
$bp-sub: normal 030px Lato;

// Colors
$dark-blue: #2C3E50;
$med-blue: #2980B9;
$light-blue: #3498DB;
$red: #E74C3C;
$light-red: #f35c4c;
$off-white: #ECF0F1;

// BP Colors
$bp-sub-gray: #7C7C7C;